@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    max-width: 575.98px;
    margin-left: 560px;
    background-color: black;
}

.nav-bar {
    background-color: white;
    max-width: 575.98px;
    position:fixed;
    bottom: 1px;
    z-index: 2;
    border-radius: 90px;
    box-shadow: none;
}
.link-nav {
    color: rgb(134, 133, 133);
    margin-left: 65px;
    margin-right: 20px;
    font-size: 20px;
}
.link-nav:hover {
    color: black;
    background:none;
}

.search-title {
    padding-top: 130px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: start;
    margin-left: 45px;
}

.boton-buscar {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-top: -7px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 40px;
    padding-left: 25px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 22px;
}

.container-busqueda-filtrado {
    max-width: 575.98px;
    padding-top: 40px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.header {
    border-radius: 20px;
    max-width: 575.98px;
    background-color: white;
    position: fixed;
    bottom: 3;
    z-index: 2;
}
.header h1 {
    margin-left: 190px;
    padding-right: 260px;
    padding-left: 35px;
    padding-bottom: 45px;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.container-productos {
    max-width: 575.98px;
    background-color: white;
    border-radius: 20px;
    padding-top: 0px;
    padding-bottom: 120px;
    margin-left: 0px;
}
.card-indiv {
    border-radius: 25px;
    width: 38%;
    margin-bottom: 40px;
    margin-left: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.card-title {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
}

.card-indiv a {
    color: crimson;
    font-size: 13px;
}


.img-producto {
    height: 100%;
    margin-top: 8px;
}

.precio-producto {
    font-size: 15px;
    text-align: center;
}

.boton-ver-mas {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 35px;
    width: 90%;
    padding: 18px;
    color: white;
    background-color: rgb(182, 182, 182);
    border-radius: 25px;
    font-size: 25px;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.boton-ver-mas:hover {
    transition: .5s;
background-color: gray;
}

 main {
    max-width: 575.98px;
    background-color: white;
    border-radius: 20px;
}